*.egg-info
build/
wheel/
dist/
venv/
__pycache__/
.env
*.env
.mypy_cache/
models/
llama/
*.pt
*.pth
runs/
*.onnx
cmake/CMakeFiles/
cmake/cvops_*
cmake/Makefile
cmake/CMakeCache.txt
cmake/*.cmake`
out/